*/nvim/plugin/packer_compiled.lua

config/zsh/.zcompdump
config/zsh/.zshrc.zwc

config/pop-system-updater/
config/touchegg/
config/dconf/*
config/discord/*
config/libfm/*
config/pulse/*
config/gtk-3.0/
config/BraveSoftware/
config/yay/
config/light/
config/mimeapps.list
config/.gsd-keyboard.*
config/evolution/
config/gnome-control-center/
config/gnome-initial-setup-done
config/ibus/
config/user-dirs.*
config/spotify
config/GIMP/
config/QtProject.conf
config/obs-studio/
config/totem/
config/vlc/
config/VirtualBox/
config/htop/
config/libreoffice/
